*{
	margin:0;
	padding:0;
	list-style:none;
}
/*pai do h1, nav e da sacola de compras*/
header {
  position: relative;
  top: 0px;
  margin:0;
  padding:0;
}
.logotipo {
  position: relative;
  top: 20px;
  left: 0px;
}  
/*Menu Nav cabeçalho pai da Lista ul*/
.menu-opcoes{ 
    /* código de um menu de opcoes*/
    /* essas regras serão aplicadas ao nav*/
    position: absolute;
    right: 0;
 	  top:60px;
}
/*Itens ("li") da lista "ul" dentro do "nav" com class = "menu-opções"*/
.menu-opcoes ul li{ 
    font-size: 15px;
    display:inline; /*Por padrão os itens vem na vertical porem com a propriedade display:inline mudamos seu posicionamento*/
    left: 0px;
    margin-left: 20px;
    position:relative;
    padding:0;
}
.menu-opcoes a{ 
    color: #003366;

    /**/
}
/*Menu Nav cabeçalho pai da Lista ul*/
.menu-cabecalho {
    /* código de um menu no cabeçalho*/
    /*essas regras TAMBÉM serão aplicadas ao nav*/ 
}
/*Sacola tag <p>*/
.sacola{
	  display:inline;
	  background: url(../img/sacola.png) no-repeat top right; /*no-repeat: para não repetir a imagem varias vezes, top: imagem no topo, right: imagem na direita*/
	  position: absolute;
  	top: 10px;
  	right:0px;
  	padding-bottom:5px;
  	padding-right: 30px; /**/
  	text-align: right; /*Alinhar a Direita*/
  	width: 150px; /*Diminuir a area do texto*/
  	margin:0;
}
body{
    color: #333333;
  	font-family: "Lucida Sans Unicode", sans-serif;
}
.container {
  margin: 0 auto;
  width: 940px;
}

.busca, 
.menu-departamentos {
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
  float:left
}

.menu-departamentos{
	padding-bottom: 10px;
	clear: left;
	margin-top:10px;
}
.busca,
.destaque{
	margin-top:10px;	
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
}

.busca input {
  vertical-align: middle;
}

.busca input[type=search] {
  width: 170px;
  padding:2px;
  border-radius: 45px;
}

/*Painel de Destaque*/
.painel {
  margin: 10px 0;
  padding: 10px;
  width: 445px;
}

.painel li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 2px;
  padding-bottom: 10px;
}

.painel h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.painel a {
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.novidades {
  background-color: #f5dcdc;
  float: left;
}

.mais-vendidos {
  background-color: #dcdcf5;
  float: right;
}
/*Painel de Destaque Fim!!*/

/*Rodape*/
.social a[href*="facebook.com"]{
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

footer {
  background-image: url(../img/fundo-rodape.png);
  clear: both; /*Para que o elemento não fique por cima dos paineis que estão flutuando na pagina*/
  padding: 20px 0;
}

footer .container { position: relative; }

.social li a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;

  /* image replacement */
  display: block;
  text-indent: -9999px;  
}

.social {
  position: absolute;
  top: 12px;
  right: 0;
}

.social li {
  float:left;
  margin-left: 25px;
}

/*Play e Pause para o Banner principal*/
.destaque {
  position: relative;
}
.pause,
.play {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}
.pause {
  border-left: 10px solid #900;
  border-right: 10px solid #900;
  height: 30px;
  width: 5px;
}
.play {
  border-left: 25px solid #900;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

/*Efeito animatico quando passa o mouse pelo painel*/
.painel li:hover {
  -webkit-transform: scale(1.2) rotate(-5deg);
  transform: scale(1.2) rotate(-5deg);
}

/*Css Avançado*/
/*Ajeitando o Menu abaixo da sacola*/
.menu-opcoes a:hover {
    color: #007dc6;
}
.menu-opcoes a:active {
     color: #867dc6;
}
/*Ajeitando o Menu lateral departamentos*/
.menu-departamentos li ul {
  display: none;
}
.menu-departamentos li:hover ul{
  display: block;
}
.menu-departamentos ul ul li {
  background-color: #dcdcdc;
}

.menu-departamentos li li a:before{
  content: '- ';
}

.menu-departamentos li li a:before {
  content: '\272A'; /*Tabela Unicode*/
  padding-right: 3px;
}
.painel h2:before {
  content: '\2756'; /*Tabela Unicode*/
  padding-right: 5px;
  opacity: 0.4;
}


/*Efeitos Css3 Border Radius Box-shadow e gradiente -> CSS AVANÇADO CAP. 6*/
.menu-departamentos, h2, ul, .busca, .painel{border-radius:4px;}

.painel {
  box-shadow: 1px 1px 4px #999; /*Sombra no elemento*/
}
.painel h2 {
  text-shadow: 1px 1px 2px rgba(255,255,255,0.8); /*Sobra no texto*/
}

.novidades {
  background-color: #f5dcdc;
  background: linear-gradient(#f5dcdc, #f4bebe);
}

.mais-vendidos {
  background: #dcdcf5;
  background: linear-gradient(#dcdcf5, #bebef4);
}

.painel li:hover {
  -webkit-transition: 0.3s ease-in;
          transition: 0.3s ease-in;
}
.painel li {
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}

/*escondendo o botão mostrar mais*/
.painel button {
  display: none;
}

/*Mostrar apenas 6 produtos e exibir botão mostrar mais*/
.painel-compacto li:nth-child(n+7) {
  display: none;
}
.painel-compacto button {
  display: block;
}

/*etilização botão mostrar mais*/
.painel button {
  /* posicionamento */
  float: right;
  margin-right: 10px;
  padding: 10px;

  /* estilo */
  background-color: #333;
  border: 0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(30,30,30,0.5);
  color: white;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 1px 0 1px black;

  /* animação*/
  transition: 0.3s;
}
.painel button:hover {
  background-color: #393939;
  box-shadow: 1px 0 20px rgba(200,200,120,0.9);
}

.painel button {
  color: white;
  position: relative;
  margin-bottom: 10px;
}
.painel button:after {
  /* elemento vazio */
  content: '';
  display: block;
  height: 0;
  width: 0;

  /* triangulo */
  border-top: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  /* posicionamento */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;

  /* animação */
  transition: 0.3s;
}
.painel button:hover:after {
  border-top-color: #393939;
}

/*fim da estilização*/

/*estilização com fontes google fonts*/
body {
  font-family: 'PT Sans', sans-serif;
}
.painel h2 {
  font-family: 'Bad Script', cursive;
}
/*fim*/